[flake8]
max-line-length = 400
extend-ignore = E203, W503
exclude = 
    venv,
    __pycache__,
    migrations,
    htmlcov
per-file-ignores =
    # Ignore star imports (F403, F405) in test files
    tests/*: F403, F405
    # You can add other common test-related ignores
    tests/*: S101  # Ignore 'assert' statements (if using pytest)
