# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
