.sudoku-cell {
  border: 1px solid #041e31;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #d6d4d4;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
  background-color: #fff;
}

.sudoku-cell:focus {
  outline: 2px solid #5e5f5f;
  outline-offset: -2px;
}

.sudoku-cell.initial {
  background-color: #d6d4d4;
  color: #000000;
  cursor: not-allowed;
  font-weight: 900;
}

.sudoku-cell.selected {
  background-color: #d6d4d4;
}

.sudoku-cell.error {
  background-color: #a72828;
  color: #000000;
}

.sudoku-cell.highlighted {
  background-color: #eeb3cb;
  color: #fff;
}

.sudoku-cell:not(.initial):hover {
  background-color: #c7337a;
}

.sudoku-cell::-webkit-inner-spin-button,
.sudoku-cell::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
