[run]
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    manage.py
    games/ai_service.py
    games/ai_service_ernigram.py
    games/api_client.py
    games/services.py
    shop/views.py
    users/views.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
