[run]
omit =
    */migrations/*
    */management/*
    */utils/*
    */tests/*
    */admin.py
    */apps.py
    */wsgi.py
    */asgi.py
    manage.py
    games/ai_service.py
    games/api_client.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
