@import "tailwindcss";

@theme {

  --font-sans: "Poppins", sans-serif;

  /* Primary color scale derived from #2449A4 */
  --color-primary-50:  #F3F4F7;
  --color-primary-100: #E4E8F2;
  --color-primary-200: #C0CDED;
  --color-primary-300: #9AB1EA;
  --color-primary-400: #5E86E8;
  --color-primary-500: #2449A4; /* base */
  --color-primary-600: #1A3A89;
  --color-primary-700: #19316B;
  --color-primary-800: #162750;
  --color-primary-900: #0F182E;
  --color-primary-950: #080C16;
  

  /* shorthand alias pointing to the base (500) */
  --color-primary: var(--color-primary-500);

}
