@import "tailwindcss";

@theme {
  --color-erni-blue: #003C7E;
  --color-erni-gold: #FFB81C;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
