@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}
/* Remove circle */
.brand-link .brand-image {
    border-radius: 0 !important;
    object-fit: contain !important;
    width: auto !important;
    height: 40px !important; /* adjust as needed */
}

/* Remove the shadow */
.brand-link .brand-image {
    box-shadow: none !important;
}

/* In case Jazzmin applies elevation classes */
.brand-link .brand-image.elevation-3 {
    box-shadow: none !important;
}

/* Prevent extra padding that may make it look "boxed" */
.brand-link .brand-image {
    background: transparent !important;
}

.brand-text {
    font-weight: medium !important;
    color: #ffffff !important; /* Adjust text color as needed */
}

/* Make input fields, selects, textareas rounded */
input, select, textarea {
    border-radius: 0.5rem !important;
}

/* Make buttons round
.btn {
    border-radius: 1rem !important;
} */

/* Make cards and panels rounded */
.card, .box, .module {
    border-radius: 1rem !important;
    box-shadow: 0 !important; /* Remove shadow */
    border: none !important;
}

.card-header {
    background-color: #bedbff !important;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}
/* Optional: make tables have rounded corners */
table {
    border-radius: 0.5rem;
    overflow: hidden;
}

/* Optional: round modal windows */
.modal-content {
    border-radius: 1rem !important;
}


/* Increase sidebar width */
.main-sidebar, .brand-link{
    width: 275px !important;  /* adjust as needed */
}

.nav-sidebar {
    font-size: 0.9rem !important; /* adjust font size as needed */
}

.nav-item {
    font-size: 0.8rem !important;
}
