@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";




@plugin "flowbite/plugin";
@config "../../../tailwind.config.js";


/* 1. Import your font at the very top */

/* 3. Apply the font to the body (optional, but good practice) */
body {
  @apply font-sans; /* 'font-sans' will be defined in the next step */
}

@theme {
  

  /* Primary color scale derived from #2449A4 */
  --color-primary-50:  #F3F4F7;
  --color-primary-100: #E4E8F2;
  --color-primary-200: #E8F5FB;
  --color-primary-300: #9AB1EA;
  --color-primary-400: #5E86E8;
  --color-primary-500: #2449A4; /* base */
  --color-primary-600: #1A3A89;
  --color-primary-700: #19316B;
  --color-primary-800: #162750;
  --color-primary-900: #0F182E;
  --color-primary-950: #080C16;
  

  /* shorthand alias pointing to the base (500) */
  --color-primary: var(--color-primary-500);

}

